
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


h1
{
    font-family: 'Shrikhand', cursive;
    margin-right: 0%;
}
h2
{
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 3px  #99E2D0;
    border-color: #99E2D0;
    width: 10%;
    margin-right: 300PX;
    font-weight: normal;
}
h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
    width: 70%;
    text-align: left;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2%;
    overflow: hidden;
}
.element1 p
{
    text-align: left;
    margin-left: 2%;
    max-width: 70%;
    height: 20px;
    overflow: hidden;
    margin-top: 1%;

}






.titre

{
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0%;
    width: 92%;
    height: 15px;

}







.imageTete
{
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin-top: 5%;
}
/*/section/*/
.titreMenu1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    width: 90%;

}
.menu1
{
    background-color: gainsboro;
    margin-top: -100px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 1300px;
}
.element1
{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 95%;
    display: flex;
    margin-bottom: 5%;
    height: 80px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    
   

    

}
.prix
{
    
    font-weight: bolder;
    
    
    width: 50PX;
    height: 30px;
    position: absolute;
    right: 5%;
    
    
    
}
.valider
{
    width: 25%;
    background-color: #99E2D0;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    position: absolute;
    right: 0%;
    
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.element1:hover
{
    
    
  
    
    cursor: pointer;
    transform:scale(1.01);
    display: flex;
    
        
    
    

    

    
    
}
.element1:hover > .valider
{
    display: flex;
}
.element1:hover > .prix
{
    right: 20%;
}
.fas
{
    color: white;
    background-color: #99E2D0;
    height: 20px;


}







.menu1 button[type="submit"]
{
	
	height: 50px;
	width: 150px;
	
	color:white;
	background-image:linear-gradient(  #FF79DA, #9356DC);

	
	border-radius: 15px 15px 15px 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}
















/*/footer*/
.footer
{
	background-color: rgb(78, 77, 77);
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}




.titreFoot
{
	font-family: 'Shrikhand', cursive;
	height: 50px;
	width: 100px;
	
	color: white;
	margin-left: 3%;
	margin-top: 3%;
}
p
{
	margin-bottom: 0%;
	margin-top: 0%;
	
}
.elementFoot1
{
	display: flex;
	flex-direction: row;
	align-items: center;
	
	display: flex;
	margin-left: 10PX;
	align-items: center;
	height: 50px;
	width: 200px;
}
.elementFoot2
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 3%;
	width: 200PX;
	
	
}
h4
{
	color: white;
	font-size: 15px;
	margin-left: 2%;

}