@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/*/loader*/
.pageloader
{
  position: fixed;
  background-color: #F5F5F5;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 200ms;
  animation-fill-mode: forwards;
  
  animation-delay: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
@keyframes disappear {
  0%{
    transform:scale(1);
  }
  100%{
    transform: scale(0);
  }
  
}
.lettre
{
  color: #484848;
  font-size: 40PX;
  letter-spacing: 10px;
  animation: flash 2.2s ;
}
@keyframes flash {
  0%{
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC ;

  }
  90%{
    color: #99E2D0;
    text-shadow: none;

  }
  100%{
    color: #9356DC;

  }

  
}

/*/head*/
.head {
  
  display: flex;
  
      
          align-items: center;
  
          flex-direction: column;
  
          justify-content: center;
}

.head__place {
  background-color: #dcdcdc;
  
  display: flex;
  
  align-items: center;
  
  justify-content: center;
  
  flex-direction: row;
  width: 100%;
  height: 60px;
  
}

.fas {
 
  display: flex;
  
  align-items: center;
  width: 20px;
  margin-right: 0%;
}



.head__element {
  background-color: #F5F5F5;
  width: 100%;
  height: 300px;
 
  display: flex;
  
  align-items: center;
 
  flex-direction: column;
  
  justify-content: space-evenly;
  text-align: center;
}
.img.head__titre{
  width: 50%;
  height: 100%;
  
}

h1 {
  font-family: 'Shrikhand', cursive;
  margin-right: 0%;
}
h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin-top: 0%;
}
h3{
  font-size: 16px;
  margin-top: 0%;
  width: 180px;
  margin-bottom: 0%;
  font-family: 'Roboto', sans-serif;
}

.width--80 {
  width: 80%;
}

button[type="submit"] {
  height: 50px;
  width: 250px;
  color: white;
  
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: 0rem;
 
  box-shadow: 1px 1px 1px grey;
  transition-duration: 0.3s;
}
button[type="submit"]:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  transform: scale(1.1);
}

/*/NAV*/
.navi {
  width: 100%;
  height: 360px;
  
  display: flex;
  
  flex-direction: column;
  
  justify-content: space-evenly;
  
  align-items: center;
}

.navi__element {
 
  display: flex;
  
  justify-content: space-evenly;
 
  align-items: center;
 
  flex-direction: row-reverse;
  background-color: #F5F5F5;
  border-radius: 15px 15px 15px 15px;
  height: 60px;
  width: 90%;
  
  box-shadow: 5px 5px 5px grey;
}

.navi__element:hover {
  background-color: 	#D8BFD8;
}
.navi__element:hover > .fas{

  color: #9356DC;
}

.chiffre {
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  
  color: white;
  background-color: #9356DC;
  margin-left: -17%;
}

.width--90 {
  width: 90%;
}

/*/section/*/
.restau {
  height: 1200px;
  width: 100%;
  background-color: #F5F5F5;
  
  display: flex;
  
  flex-direction: column;
 
  align-items: center;
  
  justify-content: space-around;
}

.restau__element1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 250px;
  position: relative;
 
  display: flex;
  
  flex-direction: column-reverse;
  border-radius: 15px 15px 15px 15px;
}

.new {
  position: absolute;
  right: 5%;
  top: 10%;
  padding: 5px;
  
  background-color: #99E2D0;
  height: 20px;
  width: 70px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #008080;
  border-radius: 5px 5px 5px 5px;
  
  box-shadow: 5px 5px 5px grey;
}

.margin{
  margin-left: 1%;
}
small{
  text-align: left;
}



.restau__element1__text {
  width: 100%;
  background-color: white;
  height: 70px;
  border-radius: 0px 0px 15px 15px;
 
  display: flex;
  
  
  
  align-items: center;
}
.heart1{
  position: absolute;
  right: 10%;
  
  display: block;
  color: #9356DC;
  transition-duration: 0.3s;
  
  
  
  
  
  
  
  opacity: 0;

  

}
.heart2{
  position: absolute;
  right: 10%;
  background-color: transparent;
  height: 15px;
  width: 20.5px;

  

}


.heart1:hover {
  
  opacity: 1;
  cursor: pointer;
  z-index: 1;
  
  
  
  
}


p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.restau__element2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 250px;
  position: relative;
 
  display: flex;
 
  flex-direction: column-reverse;
  border-radius: 15px 15px 15px 15px;
}

.restau__element3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 250px;
  
  display: flex;
  
  
  flex-direction: column-reverse;
  border-radius: 15px 15px 15px 15px;
}

.restau__element4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 250px;
  
  display: flex;
  
  flex-direction: column-reverse;
  border-radius: 15px 15px 15px 15px;
}
a{
  text-decoration: none;
  color: black;
}





/*/footer*/
.blanc
{
  color: white;
}


.footer {
  background-color: #4e4d4d;
  height: 250px;
  
  display: flex;
 
  flex-direction: column;
 
  align-items: flex-start;
}

.footer__titre {
  font-family: 'Shrikhand', cursive;
  height: 50px;
  width: 100px;
  color: white;
  margin-left: 3%;
  margin-top: 3%;
}

p {
  margin-bottom: 0%;
  margin-top: 0%;
}

.footer__element1 {
  
  display: flex;
  
  flex-direction: row;
  
  align-items: center;
  display: flex;
  margin-left: 10PX;
  align-items: center;
  height: 50px;
  width: 200px;
}

.footer__element2 {
  
  display: flex;
  
  flex-direction: row;
  
  align-items: center;
  margin-left: 3%;
  width: 200PX;
}

h4 {
  color: white;
  font-size: 15px;
  margin-left: 2%;
}

/*responsiv/*/
@media screen and (min-width: 980px)
{
  
  h3{
    font-size: 20px;
    margin-top: 0%;
    width: 180px;
    margin-bottom: 0%;
    font-family: 'Roboto', sans-serif;
  }
  
  .head{
    width: 60%;
    margin-left: 19%;
    margin-right: 0%;
  }
  .chiffre{
    margin-left: -10%;
    
  }
  .navi {
    width: 60%;
    height: 360px;
    margin-left: 19%;
    
    display: flex;
    
    flex-direction: row;
    
    justify-content: space-evenly;
    
    align-items: center;
  }
  .navi__element {
 
    display: flex;
    
    justify-content: space-evenly;
   
    align-items: center;
   
    flex-direction: row-reverse;
    background-color: #F5F5F5;
    border-radius: 15px 15px 15px 15px;
    height: 60px;
    width: 50%;
    margin-left: 10%;
    
    box-shadow: 5px 5px 5px grey;
  }
  .heart1{
    position: absolute;
    right: 20%;
    
    display: block;
    color: #9356DC;
    
    
    
    
    
    
    
    opacity: 0;
  
    
  
  }
  .heart2{
    position: absolute;
    right: 20%;
    background-color: transparent;
    height: 15px;
    width: 20.5px;
    
  
  }
  
  .restau {
    height: 700px;
    width: 80%;
    margin-left: 10%;
    margin-right: 0%;

    background-color: #F5F5F5;
    
    display: flex;
    
    flex-direction: row;
   
    flex-wrap: wrap;
    
    justify-content: space-evenly;
  }
  .restau__element1 {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 250px;
    position: relative;
   
    display: flex;
    
    flex-direction: column-reverse;
    border-radius: 15px 15px 15px 15px;
  }
  .restau__element2 {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 250px;
    position: relative;
   
    display: flex;
   
    flex-direction: column-reverse;
    border-radius: 15px 15px 15px 15px;
  }
  
  .restau__element3 {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 250px;
    position: relative;
    
    display: flex;
    
    
    flex-direction: column-reverse;
    border-radius: 15px 15px 15px 15px;
  }
  
  .restau__element4 {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 250px;
    
    display: flex;
    
    flex-direction: column-reverse;
    border-radius: 15px 15px 15px 15px;
  }
  
  
  .footer{
    display: flex;
    align-items: center;
    width: 700px;
    margin-left: 19%;
  }
  .footer__titre{
    margin-left: -0%;
    margin-bottom: 5px;
    font-size: 25px;
    height: 40px;
    width: 200px;


  }
  .footer__element1 {
  
    display: flex;
    
    flex-direction: row;
    
    align-items: center;
    display: flex;
    margin-left: 10PX;
    align-items: center;
    height: 40px;
    width: 200px;
  }
  
  .footer__element2 {
  
    display: flex;
    
    flex-direction: row;
    
    align-items: center;
    margin-left: 1%;
    width: 150PX;
    height: 50px;
  }
  .footer__titre {
    font-family: 'Shrikhand', cursive;
    height: 50px;
    width: 150px;
    color: white;
    margin-left: 2%;
    margin-top: 1%;
  }
  
  

  

  


  
  


}
